<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据传输加解密示例</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<body>
<input type="button" value="get请求加密（全字段加密）/ 响应加密" onclick="get()"/> <br><br>
<input type="button" value="get请求加密（对部分字段加密）/ 响应加密" onclick="getThree()"/> <br><br>
<input type="button" value="get请求不加密 / 响应加密" onclick="getNo()"/> <br><br>
<input type="button" value="post请求加密 / 响应不加密" onclick="sendData()"/> <br><br>
<input type="button" value="get无请求参数 / 响应加密" onclick="getEncrypt()"/>
<script>
    /**
     * get请求加密（全字段加密）
     */
    function get() {
        $.ajax({
            type: "get",
            url: "test/ccc/get",
            headers: {"X-REQ-ENCRYPTED": 1},
            data: {
                "id": "a3445d13b33a9fd310a23ae3921b969b",
                "name": "7476a246be2ed0a9bc66188f0222a834",
                "common": "451d4aef0c93e79affff67843d2f2669f606db715510247308487a2d0b577344",
                "age": "5b96bb2a998d7b95f17ae80cef13e968",
                "pass": "326e82a3774b2f5aa337167476116449",
                "size": "af4389b2c38b5647522a94bb809a087c",
                "no": "c6bb919597cf38ba804c4a53d2423ad5"
            },
            dataType: 'text',
            contentType: "application/json",
            success: function (resData) {
                // alert("返回的数据："+resData);
            }
        });
    }

    /**
     * get请求加密（对部分字段加密）
     */
    function getThree() {
        $.ajax({
            type: "get",
            url: "test/ccc/get",
            // "X-HAVE-ENCRYPT"与"X-NOT-ENCRYPT"同时存在，以"X-HAVE-ENCRYPT"为准
            headers: {
                "X-REQ-ENCRYPTED": 1,
                // 加密的字段
                // "X-HAVE-ENCRYPT":"id,age",// 两种方式都行
                "X-HAVE-ENCRYPT": ["id", "age"],
                // 不加密的字段
                // "X-NOT-ENCRYPT": "size,no" // 两种方式都行
                "X-NOT-ENCRYPT": ["size", "no"]
            },
            data: {
                "id": "a3445d13b33a9fd310a23ae3921b969b",
                "name": "7476a246be2ed0a9bc66188f0222a834",
                "common": "451d4aef0c93e79affff67843d2f2669f606db715510247308487a2d0b577344",
                "age": "5b96bb2a998d7b95f17ae80cef13e968",
                "pass": "326e82a3774b2f5aa337167476116449",
                "size": 10,
                "no": "不需要解密"
            },
            dataType: 'text',
            contentType: "application/json",
            success: function (resData) {
                // alert("返回的数据："+resData);
            }
        });
    }

    /**
     * get请求不加密
     */
    function getNo() {
        $.ajax({
            type: "get",
            url: "test/ccc/get",
            data: {
                "id": 500,
                "name": "马亮",
                "common": "我是父类的字段",
                "age": "26",
                "pass": "abcdefg",
                "size": 100,
                "no": "不需要解密"
            },
            dataType: 'text',
            contentType: "application/json",
            success: function (resData) {
                // alert("返回的数据："+resData);
            }
        });
    }

    /**
     * post请求加密
     */
    function sendData() {
        $.ajax({
            type: "post",
            url: "test/ccc/save",
            headers: {"X-REQ-ENCRYPTED": 1},
            data: "daa239c7c8864e8ad49ffd5036463705311716d3c947eb0b3e7ae07c6676f1d1bcb06d244f45d9acfcb203b8e702d52dda3e8dca2c339baa8f77dee2d7e5f56ce1376b8429258e9f355a48a370cbf03dee19256d74f3452a2f76f2ad4fe9df31829ffd887f8d0202fba4aa8d2f9cb0b1e5571692b4a29767191aafa17c42d928186a812d059122add7a6936515c6bbf9cbe8b992830240901e6ee2d106569210",
            dataType: 'text',
            contentType: "application/json",
            success: function (resData) {
                // alert("返回的数据："+resData);
            }
        });
    }

    /**
     * get无请求参数
     */
    function getEncrypt() {
        $.ajax({
            type: "get",
            url: "test/ccc/getEncrypt",
            dataType: 'text',
            contentType: "application/json",
            success: function (resData) {
                // alert("返回的数据："+resData);
            }
        });
    }

</script>
</body>

</html>